.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  width: 300px;
  margin: 15px auto;

  background-color: rgb(208, 208, 208);
  border: 3px solid black;
}

.title {
  color: rgb(129, 129, 129);
}

.subtitle {
  color: rgb(39, 39, 39);
}